body 
{
    background-color: black; 
    color:white;
    overflow: hidden;
}

.center-align-col {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 95vh;
}

.center-align-row {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.card-list {
    background-color: #111111; 
    border: 1px solid #222222;
}

.lesson-check {
    margin-right: 5px;
}

#overlay {
    background-color: black;
    position: absolute; 
    top:0; 
    width:100vw; 
    height:100vh;
    z-index: 1; 
    opacity: 0.82;
}

#opening-card {
    background-color: #111111; 
    position: absolute; 
    top:5%; 
    left:20%; 
    bottom: 5%; 
    right:20%; 
    overflow: scroll; 
    overflow-x: hidden; 
    overflow-y: auto; 
    z-index: 10;
}